<div class="input-container">
    <input 
        type="password" 
        id="password" 
        [(ngModel)]="password" 
        (ngModelChange)="enviarValorPassword($event)" 
        required 
        minlength="6"
        #passwordInput="ngModel"
    />
    <label class="label" for="password">Ingresar Contraseña</label>
    <div class="underline"></div>
    <div class="sideline"></div>
    <div class="upperline"></div>
    <div class="line"></div>

    <!-- Mensajes de error -->
    <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error-message">
        <small *ngIf="passwordInput.errors?.['required']">La contraseña es obligatoria.</small>
        <small *ngIf="passwordInput.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
    </div>
</div>
