@font-face {
  font-family: 'Workspace';
  src: url('../../../../public/font/Workspace.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: Workspace;
}
/* use it in dark theme */
.input-container {
  position: relative;
  margin: 25px auto;
  width: 190px;
}

.input-container input[type="password"] {
  font-size: 14px;
  color: rgb(129, 129, 129);
  border: none;
  border-bottom: 2px solid #a5a2a2;
  outline: none;
  width: 100%;
  background-color: transparent;
}

.label {
  transition: all 0.3s ease;
  color: #d3d2d2;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.input-container input[type="password"]:focus~.label,
        .input-container input[type="password"]:valid~.label {
  top: -20px;
  transition: 0.3s;
  color: rgb(172, 46, 172);
}

.input-container .underline {
  position: absolute;
  bottom: 2px;
  left: -7px;
  height: 2px;
  width: 110%;
  background-color: rgb(172, 46, 172);
  transform: scaleX(0);
}

.input-container .sideline {
  position: relative;
  bottom: 15px;
  right: 18px;
  height: 2px;
  width: 18%;
  background-color: rgb(172, 46, 172);
  transform: scaleX(0);
  rotate: 90deg;
}

.input-container .upperline {
  position: absolute;
  bottom: 30px;
  left: -8px;
  height: 2px;
  width: 110%;
  background-color: rgb(172, 46, 172);
  transform: scaleX(0);
}

.input-container .line {
  position: relative;
  bottom: 17px;
  left: 178px;
  height: 2px;
  width: 18%;
  background-color: rgb(172, 46, 172);
  transform: scaleX(0);
  rotate: 90deg;
}

.input-container input[type="password"]:focus~.underline,
        .input-container input[type="password"]:valid~.underline {
  transform: scaleX(1);
  transition: 1s;
}

.input-container input[type="password"]:focus~.sideline,
        .input-container input[type="password"]:valid~.sideline {
  transform: scaleX(1);
  transition: 1s;
}

.input-container input[type="password"]:focus~.upperline,
        .input-container input[type="password"]:valid~.upperline {
  transform: scaleX(1);
  transition: 1s;
}

.input-container input[type="password"]:focus~.line,
        .input-container input[type="password"]:valid~.line {
  transform: scaleX(1);
  transition: 1s;
}
small{
  color:rgb(129, 129, 129);
 }