@font-face {
  font-family: 'Workspace';
  src: url('../../../../public/font/Workspace.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

.toggle-switch {
  margin-bottom: 25px;
  position: relative;
  width: 215px; /* Ajustado el ancho del switch */
  height: 30px; /* Ajustado el alto del switch */
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 30px; /* Ajustado el alto */
  background: #28292c;
  border-radius: 15px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 3px;  /* Espaciado superior ajustado */
  left: 3px;  /* Espaciado izquierdo ajustado */
  width: 24px; /* Aumentado el tamaño del círculo */
  height: 24px; /* Aumentado el tamaño del círculo */
  border-radius: 50%;
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  transform: translateX(180px);  /* Ajustado el movimiento del círculo */
  background-color: var(--dark);
  box-shadow: none;
}
